<div (click)='onClick()'>
    <!--<img [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [src]='product.imageUrl' [title]='product.productName' *ngIf='showImage' > -->

    <img class="contact-img" [src]='Contact.imageUrl' [title]='Contact.contactName'>

    <div style="display:inline-block">
        <h4 class="contact-name" > {{Contact.contactName | truncate: 35}}</h4>
        <span  [title]='Contact.LastMessage.Message' class="contact-message">{{Contact.LastMessage.Message | truncate: 70}}</span>
    </div>

</div>