.contacts-container
{
  max-width:600px;

}
.contacts-container .list-group-item
{
    cursor: pointer;
    
}
.contacts-container .list-group-item:hover
{
    background: #aaa;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#aaa, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aaa, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aaa,#FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#aaa, #FFF); /* Standard syntax */
}
